# Question 2 of EWA Queen's

So every year at Queen's, the first year engineers are mandated to complete and Excel-Word Assignment to test their competency with this kind of software. I thought that completing the data analysis using python instead of Excel would be a good way to practice my skills, so here it is.

In [2]:
import numpy as np                          # number handling
import pandas as pd                         # dataframe handling
import matplotlib.pyplot as plt             # to plot graphs
from sklearn.metrics import r2_score        # function to compute R^2

Now I import the data from the excel file titled "ProvidedData.xlsx".

In [3]:
historicalData = pd.read_excel("ProvidedData.xlsx")
display(historicalData)

,Year,Average Annual Temperature (°C),Total Annual Precipitation (mm),Total Annual Snowfall (cm)
0,1873,6.250000,1099.6,454.7
1,1874,6.291667,828.1,235.5
2,1875,5.175000,767.0,235.3
3,1876,6.633333,830.6,336.3
4,1877,7.875000,796.6,159.0
...,...,...,...,...
106,2002,8.533333,837.8,128.9
107,2003,6.950000,1077.6,189.0
108,2004,7.425000,990.7,122.4
109,2005,8.500000,901.3,152.7
110,2006,9.150000,1057.7,57.3

Now we must construct scatter plots of time vs the other variables. I will first start by defining some functions to improve the modularity of this program.

In [5]:
def scatterPlot(xData, yData, title="x vs y", xLabel="x", yLabel="y"):
    plt.scatter(xData,yData)
    plt.xlabel(xLabel)
    plt.ylabel(yLabel)
    plt.title(title)
    plt.show()

Now I will use a for loop to plot the new scatter plots using the subplots() method of matplotlib.

In [4]:
colNames = list(historicalData.columns) # creating a list to loop through
colNames.remove("Year")                 # this will always be the x axis
rows, cols = 3,2
fig, ax = plt.subplots(rows, cols, figsize=(15,10)) # setup for the use of subplots

for row in range(rows):
    for col in range(cols):
        ax[row,col].scatter() # use the get function stuff here

['Average Annual Temperature (°C)', 'Total Annual Precipitation (mm)', 'Total Annual Snowfall (cm)']